[core]
    editor = vim
[color]
    ui = auto
    status = auto
    branch = auto
    interactive = auto
    diff = auto
[alias]
    stat = status
    st   = status
    df   = diff
    ci   = commit
    cii  = commit --interactive
    civ  = commit --verbose
    br   = branch
    co   = checkout
    rh   = reset --hard
    changes = diff --name-status
    hash = describe --always --dirty
    lg   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    alias = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

[push]
    default = simple
[credential]
    helper = cache --timeout=3600
[pull]
    ff = only
[init]
    defaultBranch = master
[inspector]
    format = html
    hard = true
    list-file-types = true
    metrics = true
    responsibilities = true
    timeline = true
    weeks = true
